# NLP: Regex_exercises

In [24]:
import re
import pandas as pd

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [25]:
def is_vowel(str):
    return bool(re.search(r'^[aeiouAEIOU]$', str))

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [26]:
def is_valid_username(str):
    return bool(re.search(r'^[a-z][a-z0-9_]{1,32}$', str))

In [27]:
print(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'))
print(is_valid_username('codeup'))
print(is_valid_username('Codeup'))
print(is_valid_username('codeup123'))
print(is_valid_username('1codeup'))

True
True
False
True
False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:

(210) 867 5309 \
+1 210.867.5309 \
867-5309 \
210-867-5309

In [46]:
phone_numbers = pd.Series(['(210) 867 5309', '+1 210.867.5309', '867-5309', '210-867-5309'])

regex = r'(?P<Country_code>\+1)?\s?\(?(?P<Area_code>\d{3})?\.?\)?-?\s?(?P<Local_p1>\d{3})\s?-?\.?(?P<Local_p2>\d{4})'

phone_numbers.str.extract(regex)

  Country_code Area_code Local_p1 Local_p2
0          NaN       210      867     5309
1           +1       210      867     5309
2          NaN       NaN      867     5309
3          NaN       210      867     5309

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

['02/04/19,'
'02/05/19,'
'02/06/19,'
'02/07/19,'
'02/08/19,'
'02/09/19,'
'02/10/19']

In [30]:
dates = pd.Series([
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19'
])

regex = r'(\d{2})\/(\d{2})\/(\d{2})'
dates.str.replace(regex, r'\3/\1/\2', regex=True)

0    19/02/04
1    19/02/05
2    19/02/06
3    19/02/07
4    19/02/08
5    19/02/09
6    19/02/10
dtype: object

### 5. Write a regex to extract the various parts of these logfile lines:

GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58 \

POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58 \

GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [32]:
logfiles = pd.Series(['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58', 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58', 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'])

regexp = r'(?P<METHOD>\w+)\s(?P<ENDPOINT>.+)\s(?P<TIMESTAMP>\[.+\])\s(?P<PROTOCOL>.+)\s(?P<STATUS_CODE>\{\d{3}})\s(?P<BYTES_SENT>\d+)\s(?P<USER_AGENT>.+)\s(?P<IP_ADDRESS>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})'

logfiles.str.extract(regexp)

,METHOD,ENDPOINT,TIMESTAMP,PROTOCOL,STATUS_CODE,BYTES_SENT,USER_AGENT,IP_ADDRESS
0,GET,/api/v1/sales?page=86,[16/Apr/2019:193452+0000],HTTP/1.1,{200},510348,"""python-requests/2.21.0""",97.105.19.58
1,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,{201},42,"""User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;...",97.105.19.58
2,GET,/api/v1/items?page=3,[16/Apr/2019:193453+0000],HTTP/1.1,{429},3561,"""python-requests/2.21.0""",97.105.19.58